###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto
# Additional configuration lines (keep these as they are in your original file)


