/* Sidebar.css */
.sidebar {
    width: 300px;
    padding: 10px;
    background-color: #f8f8f8;
    border-right: 1px solid #ddd;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    z-index: 1000;
    text-align: left;
}

    .sidebar h3 {
        margin-top: 0;
        text-align: left;
    }

    .sidebar button {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        padding: 8px;
        background-color: grey;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 3px;
        transition: background-color 0.3s;
        text-align: left;
    }

        .sidebar button:hover {
            background-color: #0056b3;
        }

        .sidebar button.active {
            background-color: #007bff;
        }

.sub-types {
    margin-left: 15px;
    text-align: left;
}

    .sub-types input {
        margin-right: 5px;
        text-align: left;
    }
